USE [study2]
GO
/****** Object:  User [makun]    Script Date: 04/10/2020 11:36:22 ******/
CREATE USER [makun] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[user]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] NOT NULL,
	[user_name] [varchar](25) NOT NULL,
	[user_password] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[teacher_info]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[teacher_info](
	[t_id] [varchar](12) NOT NULL,
	[t_name] [varchar](100) NULL,
	[t_sex] [varchar](2) NULL,
	[t_degree] [varchar](50) NULL,
	[t_rank] [varchar](50) NULL,
	[t_age] [int] NULL,
	[t_deptno] [varchar](10) NULL,
 CONSTRAINT [PK_teacher_info] PRIMARY KEY CLUSTERED 
(
	[t_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[teacher_info] ([t_id], [t_name], [t_sex], [t_degree], [t_rank], [t_age], [t_deptno]) VALUES (N'1001', N'李四', N'0', N'专科', N'讲师', 99, N'9')
INSERT [dbo].[teacher_info] ([t_id], [t_name], [t_sex], [t_degree], [t_rank], [t_age], [t_deptno]) VALUES (N'1002', N'张三', N'1', N'硕士', N'教授', 100, N'1')
INSERT [dbo].[teacher_info] ([t_id], [t_name], [t_sex], [t_degree], [t_rank], [t_age], [t_deptno]) VALUES (N'1003', N'熊大', N'1', N'博士', N'副教授', 97, N'2')
/****** Object:  Table [dbo].[teacher]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[teacher_id] [int] NOT NULL,
	[teacher_name] [nvarchar](10) NULL,
	[teacher_gendar] [nvarchar](10) NULL,
	[teacher_degree] [nvarchar](10) NULL,
	[teacher_jobtitle] [nvarchar](20) NULL,
	[teacher_age] [int] NULL,
	[deptno] [int] NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[teacher] ([teacher_id], [teacher_name], [teacher_gendar], [teacher_degree], [teacher_jobtitle], [teacher_age], [deptno]) VALUES (1, N'小儿', N'女', N'学士', N'助教', 45, 1)
INSERT [dbo].[teacher] ([teacher_id], [teacher_name], [teacher_gendar], [teacher_degree], [teacher_jobtitle], [teacher_age], [deptno]) VALUES (5, N'毛高', N'男', N'硕士', N'研究员', 5, 5)
INSERT [dbo].[teacher] ([teacher_id], [teacher_name], [teacher_gendar], [teacher_degree], [teacher_jobtitle], [teacher_age], [deptno]) VALUES (6, N'张菁', N'女', N'硕士', N'副教授', 50, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [dbo].[StudentCourse]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourse](
	[cls_id] [int] NULL,
	[cls_name] [nvarchar](255) NULL,
	[stu_id] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[StudentCourse] ([cls_id], [cls_name], [stu_id]) VALUES (207, N'微机组装、使用与维护', 20110330724)
INSERT [dbo].[StudentCourse] ([cls_id], [cls_name], [stu_id]) VALUES (211, N'实用软件工程', 20110030225)
INSERT [dbo].[StudentCourse] ([cls_id], [cls_name], [stu_id]) VALUES (211, N'实用软件工程', 20110130103)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  Table [dbo].[student]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[stu_id] [float] NULL,
	[stu_grade] [int] NULL,
	[stu_class] [nvarchar](255) NULL,
	[stu_name] [nvarchar](255) NULL,
	[stu_gendar] [nvarchar](255) NULL,
	[stu_ethnic] [nvarchar](255) NULL,
	[stu_origin] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[student] ([stu_id], [stu_grade], [stu_class], [stu_name], [stu_gendar], [stu_ethnic], [stu_origin]) VALUES (20110030101, 2011, N'T1103-1', N'张鑫', N'男 ', N'汉族', N'山西省    ')
INSERT [dbo].[student] ([stu_id], [stu_grade], [stu_class], [stu_name], [stu_gendar], [stu_ethnic], [stu_origin]) VALUES (20110030102, 2011, N'T1103-1', N'张雄菲', N'男 ', N'汉族', N'山西省    ')
INSERT [dbo].[student] ([stu_id], [stu_grade], [stu_class], [stu_name], [stu_gendar], [stu_ethnic], [stu_origin]) VALUES (20110030103, 2011, N'T1103-1', N'李建灿', N'男 ', N'汉族', N'福建省    ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
/****** Object:  Table [dbo].[Login]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Login] ([username], [password]) VALUES (N'123', N'456')
INSERT [dbo].[Login] ([username], [password]) VALUES (N'88888', N'oooooo')
INSERT [dbo].[Login] ([username], [password]) VALUES (N'88888', N'oooooo')
/****** Object:  Table [dbo].[dept]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept](
	[deptno] [int] NULL,
	[dept_name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dept] ([deptno], [dept_name]) VALUES (0, N'教务处')
INSERT [dbo].[dept] ([deptno], [dept_name]) VALUES (1, N'机械工程学院')
INSERT [dbo].[dept] ([deptno], [dept_name]) VALUES (2, N'电气与信息工程学院')
/****** Object:  Table [dbo].[class]    Script Date: 04/10/2020 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
	[cls_id] [int] NULL,
	[cls_name] [nvarchar](255) NULL,
	[cls_credit] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[class] ([cls_id], [cls_name], [cls_credit]) VALUES (207, N'微机组装、使用与维护', 1.5)
INSERT [dbo].[class] ([cls_id], [cls_name], [cls_credit]) VALUES (211, N'实用软件工程', 1.5)
INSERT [dbo].[class] ([cls_id], [cls_name], [cls_credit]) VALUES (216, N'FLASH动画设计', 1.5)
